<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.diana.bachelorthesis">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        android:theme="@style/Theme.AppSplash">
        <!-- allowBackup = false to clear sharedPreferences at uninstall-->
        <!-- change screenOrientation to sensor when supporting both orientations-->

        <!--     android:theme="@style/Theme.BachelorThesis"-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBty6htocQZVbjnN-Aga0WpR-UHwcmM_1Q" /> <!-- <uses-library android:name="org.apache.http.legacy" android:required="false" /> -->

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            >
<!--            android:theme="@style/Theme.BachelorThesis.NoActionBar">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="swap-app.com"
                    android:pathPattern="/mainpage" />

                <data
                    android:scheme="http"
                    android:host="swap-app.com/mainpage" />
            </intent-filter>

<!--            <intent-filter>-->
<!--                &lt;!&ndash; for receiving notifications while in background if want to launch a different activity than main&ndash;&gt;-->
<!--                <action android:name="OpenMainActivity" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->

        </activity>

            <service
                android:name=".services.PushNotificationService"
                android:exported="true">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>